
<!DOCTYPE html>
<html>
<t>Welcome to temporary home of WaterTAP UI webapp for brackishwater workshop </t>
<p>Please enter a username for which to start up a new UI instance (ensure to use a unique name).</p>
<p>Data generated in the webapp will be DELETED after 24 hours, its recommended to use the standalone UI.</p>
<body>
<form action="{{ url_for('start_new_ui_instance') }}" method="post">
    <label for="username">User name:</label><br>
    <input type="text" name="username"><br>
    <button type="submit">Start UI</button>
</form> 
</html>